<div class = "container">
  <div class = "row">
    <div class = "col-11 offset-1">
      <h1>マイページ</h1>
    </div>
    <div class = "row">
      <div class = "col-12">
        <h2>登録情報 <%= link_to "編集する", edit_customer_path %></h2>
      </div>
    </div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="row">名前</th>
      <td><%= @customers.first_name%> <%= @customers.last_name %></td>
  </thead>
  <tbody>
    <tr>
      <th scope="row">カナ</th>
      <td><%= @customers.first_name_kana %> <%= @customers.last_name_kana %></td>
    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td><%= @customers.telephone_number %></td>
    </tr>
    <tr>
      <th scope="row">郵便番号</th>
      <td><%= @customers.postal_code %></td>
    </tr>
    <tr>
      <th scope="row">住所</th>
      <td><%= @customers.address %></td>
    </tr>
    <tr>
      <th scope="row">メールアドレス</th>
      <td><%= @customers.email %></td>
    </tr>
  </tbody>
</table>
  </div>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  <%= link_to "配送先",addresses_path,class:"text-white" %><br>
</button>

<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  <%= link_to "注文履歴一覧", orders_path,class:"text-white"%>
</button>
</div>