<mein>
  <h1>商品一覧</h1>
  <h1><%= link_to "＋", new_admin_item_path %></h1>
  <% @item.each do |item| %>
  <h1>商品ID</h1>
  <span><%=item.id %></span>
  <h1>商品名</h1>
  <span><%= item.name %></span>
  <h1>税抜価格</h1>
  <span><%=item.price %></span>
  <h1>ジャンル</h1>
  <span><%= item.genre %></span>
  <h1>ステータス</h1>
  <span><%= item.is_active %></span>




</mein>