<div class = "container">
  <div class = "row">
    <div class = "col">
      <h3>商品詳細</h3>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <%= image_tag @item.item_image(300,300) %>
    </div>
    <div class = "col">
      <h4>商品名</h4>  <h4><%= @item.name %></h4><br>
      <h4>商品説明</h4>　<h4><%= @item.introduction %></h4><br>
      <h4>ジャンル</h4><h4><%= @item.genre.name %></h4><br>
      <h4>税込価格</h4><h4><%= @item.price%></h4><br>
      <% if @item.is_active %>
      <h4>販売ステータス</h4> <h4>販売中</h4>
      <% else %>
      <h4>販売停止中</h4>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col-3 offset-5">
      <%= link_to "編集する",edit_admin_item_path(@item.id),class:"btn btn-success" %>
    </div>
  </div>
</div>

