<div class = "container">
  <div class = "row">
    <div class = "col-2">
      <div class="card" style="width: 14rem;">
      <div class="card-header">
          ジャンル検索
      </div>
        <% @genres.each do |genre| %>
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= genre.name %></li>
        </ul>
        <% end %>
      </div>
    </div>
      <div class = "col-5 offset-4 d-flex align-items-center">
        <div>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </div>
      </div>
  </div>
  <div class = "row">

      <h1 class = "col-4 offset-1">新着商品</h1><br>
      <div class = "col-7"></div>
      <% @items.each do |item| %>
        <div class = "col offset-1">
        <p>
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.item_image(100,100) %>
          <% end %>
        </p>
        <span><%= item.name %></span>
        <span><%= item.price %></span>
        </div>
      <% end %>
  </div>
  <div class = "col offset-10"><%= link_to '全ての商品を見る＞',items_path %></div>
</div>







