<div class = "container">
  <div class = "row">
    <div class = "col">
      <h3>注文履歴詳細</h3>
    </div>
  </div>
  <div class = "row">
    <div class ="col">
      <h4>購入者</h4>
    </div>
    <div class = "col">
      <%= link_to admin_customer_path(@order.customer.id) do %>
      <%= @order.name%>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <h4>注文日</h4>
    </div>
    <div class = "col">
      <%= @order.created_at.strftime("%Y-%m-%d") %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <h4>配送先</h4>
    </div>
    <div class = "col">
      <%= @order.postal_code %>
      <%= @order.address %>
      <%= @order.name%>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <h4>支払い方法</h4>
    </div>
    <div class = "col">
      <%= @order.payment_method_i18n %>
    </div>
  </div>
  <div class = "row">
    <div class = "col">
      <h4>注文ステータス</h4>
    </div>
    <%= form_with model: @order,url: admin_order_path(@order.id) do |f| %>
    <div class = "col">
      <%= f.select :order_status, {'入金待ち': 'waiting_for_payment','入金確認':'payment_confirmation','制作中':'under_construction','発送準備中':'preparing_for_shipment','発送済み':'sent'} %>
      <%= f.submit '更新',class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価（税込）</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
      <th scope="col">制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_details.each do |order_detail| %>
    <tr>
      <th scope="row">
        <%= order_detail.item.name %>
      </th>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.amount %></td>
      <td><%= order_detail.price * order_detail.amount %></td>
      <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
      <td>
        <%= f.select :making_status ,{'制作不可':'production_not_allowed','製作待ち':'waiting_for_production','制作中':'under_construction','制作完了':'production_completed'} %>
        <%= f.submit '更新',class:"btn btn-success" %>
      </td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
</div>