<h1>注文履歴詳細</h1>
<h1>注文情報</h1>
<dev>
    <h1>注文日</h1><%= @order.created_at %>
    <h1>配送先</h1><%= @order.postal_code %><%= @order.address %><%= @order.name %>
    <h1>支払い方法</h1><%= @order.payment_method %>
    <h1>ステータス</h1><%= @order.order_status %>
</dev>



<h1>注文内容</h1>
<% total_price = 0 %>
<% @order.order_details.each do |order_details| %>
<div>
    <h1>商品</h1>

                 <%= order_details.item.name %>
　　<h1>単価</h1>
　　　　　　　<%= order_details.price %>



    <h1>個数</h1><%= order_details.amount %>

    <h1>小計</h1>

     <%= order_details.price * order_details.amount %>
     <% total_price += order_details.price * order_details.amount %>

</div>
<% end %>
<h1>請求情報</h1>
<div>
    <h1>商品合計</h1><%= total_price %>
    <h1>配送料</h1><%= @order.shipping_cost %>
    <h1>合計</h1><%= @order.total_payment %>



</div>