<div class = "container">
  <div class = "row">
    <div class = "col-2">
          ジャンル検索<br>
            <% @genres.each do |genre| %>
            <%= genre.name %><br>
            <% end %>
    </div>
      <div class = "row">
        <div class = "col offset-1 ">
         <h1>商品一覧</h1><br>
          <% @items.each do |item| %>
          <div class = "col offset-2 ">
            <%= link_to item_path(item.id) do %>
            <%= image_tag item.item_image(100,100) %>
            <% end %>
          <span><%= item.name %></span>
          <span><%=item.price %></span>
          </div>
           <% end %>
          </div>
      </div>
  </div>
</div>