
  <h1>商品詳細</h1>
    <h1>商品名</h1>
    <%= image_tag @item.item_image(100,100) %>
    <p><%= @item.name %></p>
    <h1>商品説明</h1>
    <p><%= @item.introduction %></p>
    <h1>ジャンル</h1>
    <p><%= @item.genre.name %></p>
    <h1>税込価格（税抜価格）</h1>
    <p><%= @item.price%></p>

    <% if @item.is_active == true %>
    <%= form_with(model: @cart_item,url: public_cart_items_path, method: :post,local: true)do |f| %>
    <%= f.label :amount, "個数選択" %>
    <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
    <%= f.hidden_field :item_id, :value => @item.id %>

   <%= f.submit "カートに入れる" %>
  <% end %>
<% end %>


