<h1>
    <% if admin_signed_in? %>

     <li>
         <%= link_to about_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> About
        <% end %>
      </li>

     <li>
         <%= link_to admin_items_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> 商品一覧
        <% end %>
      </li>

      <li>
         <%= link_to new_customer_registration_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> 新規登録
        <% end %>
      </li>

      <li>
         <%= link_to new_customer_session_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> ログイン
        <% end %>
      </li>

      <% else %>

      <li>
         <%= link_to admin_items_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> 商品一覧
        <% end %>
      </li>

     <li>
         <%= link_to admin_customers_path,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> 会員一覧
        <% end %>
      </li>

      <li>
         <%= link_to admin_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> 注文一覧
        <% end %>
      </li>

     <li>
         <%= link_to admin_genres_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> ジャンル一覧
        <% end %>
      </li>

     <li>
         <%= link_to new_customer_session_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> ログアウト
        <% end %>
      </li>

    <% end %>
</h1>