<h1>
    <% if customer_signed_in? %>

    <li>
      <%= link_to " public/homes#top" ,class:"nav-link text-light" do %>
       <i class="fas fa-home"></i> LOGO
       <% end %>
    </li>



     <li>
         <%= link_to customer_path(customer.id) ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> マイページ
        <% end %>
      </li>

     <li>
         <%= link_to items_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> 商品一覧
        <% end %>
      </li>

      <li>
         <%= link_to cart_items_path ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> カート
        <% end %>
      </li>

      <li>
         <%= link_to destroy_customer_session_path,method: :delete ,class:"nav-link text-light" do %>
           <i class="fas fa-home"></i> ログアウト
        <% end %>
      </li>

      <% else %>

      <li>
        <%= link_to " public/homes#top",class:"nav-link text-light" do %>
          <i class="fas fa-home"></i> LOGO
         <% end %>
      </li>


      <li>
        <%= link_to about_path ,class:"nav-link text-light" do %>
          <i class="fas fa-home"></i> About
        <% end %>
      </li>

     <li>
        <%= link_to items_path ,class:"nav-link text-light" do %>
          <i class="fas fa-home"></i> 商品一覧
        <% end %>
      </li>

      <li>
        <%= link_to new_customer_registration_path ,class:"nav-link text-light" do %>
          <i class="fas fa-home"></i> 新規登録
        <% end %>
      </li>

     <li>
        <%= link_to new_customer_session_path ,class:"nav-link text-light" do %>
          <i class="fas fa-home"></i> ログイン
        <% end %>
      </li>

    <% end %>
</h1>
